name: Linting

on:
  pull_request:
  push:
    branches: ["main", "development"]

jobs:
  fourmolu:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - uses: haskell-actions/run-fourmolu@v11
      with:
        version: "0.17.0.0"
        pattern: |
          src/**/*.hs
          test/**/*.hs

  hlint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - name: 'Set up HLint'
      uses: haskell-actions/hlint-setup@v2
      with:
        version: '3.10'

    - name: 'Run HLint'
      uses: haskell-actions/hlint-run@v2
      with:
        path: '["src", "test"]'
        fail-on: warning

